/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonRow {
  margin-top: 5rem; /* Increased top spacing */
  display: flex;
  gap: 1rem; /* Adds spacing between buttons */
  justify-content: center; /* Centers the buttons horizontally */
  margin-top: 1rem; /* Adds some space above the buttons */
}
